name: Build and run tests
on: [push]

env:
  node_version: 24

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Set up pnpm
        uses: pnpm/action-setup@v4

      - name: Set up Node
        uses: actions/setup-node@v4
        with:
          node-version: ${{ env.node_version }}
          cache: 'pnpm'

      - name: Build
        run: |
          pnpm install --frozen-lockfile
          pnpm run build

      - name: Lint
        run: |
          pnpm run lint

      - name: Test
        run: |
          pnpm test
